{% extends 'base.html' %}
{% load static %}
{% block konten %}

<h3 class="text-center">Daftar Jenis Produk</h3>

<div class="container">
    {% for message in messages %}
    {% if message %}
    <div class="alert alert-success">{{ message }}</div>
    {% endif %}
    {% endfor %}
    <a href="/addjenis" class="btn btn-primary">Add Data</a>
    <table class="table table-bordered-sm">
        <thead>
            <tr>
                <th>ID Jenis</th>
                <th>Nama</th>
                <th>Keterangan</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            {% for Jenis in jeniss %}

            <tr>
                <td><a href="{% url 'ubah_jenis' Jenis.id %}">{{ Jenis.id }}</a></td>
                <td>{{ Jenis.nama }}</td>
                <td>{{ Jenis.ket }}</td>
                <td>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#del-{{ Jenis.id }}">
                        Delete
                    </button>
                </td>

                <!-- Modal Start -->
                <div class="modal fade" id="del-{{ Jenis.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure want delete ?</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Nama jenis : {{ Jenis.nama }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <a href="{% url 'hapus_jenis' Jenis.id %}" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal End -->
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}